<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database setting -->
        <!--property name="connection.driver_class">com.mysql.jdbc.Driver</property-->
        <property name="connection.url">jdbc:mysql://localhost:3306/PVHCC_SERVER?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">rootpwd@</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!-- Show all executed SQL to console -->
        <property name="show_sql">true</property>

        <!-- Entity mapping -->
        <mapping class="org.example.shared.model.Department" />
        <mapping class="org.example.shared.model.CitizenRequest" />
        <mapping class="org.example.shared.model.Account" />

    </session-factory>
</hibernate-configuration>